LLM_API_KEY=
LLM_PROVIDER="anthropic" # check more at https://docs.all-hands.dev/modules/usage/llms
LLM_MODEL="anthropic/claude-3-7-sonnet-20250219"
LLM_NUM_RETRIES=3
LLM_CACHING_PROMPT=true
CORE_REASONING_EFFORT="high"
CORE_PLATFORM="linux/amd64"
AGENT_MEMORY_ENABLED=true
AGENT_ENABLE_THINK=true
AGENT_ENABLE_MCP=false
CONTAINER_NAME="oha-container" # Optional: set a fixed name for the main Open-Hands container
CORE_SEARCH_API_KEY=tvly-***
